body {
    background-image: url("../assets/w2.jpg");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navegador-nav {
    background: rgba(147, 188, 190, 0.13);
}

.contenido-1 {
    background: rgba(189, 203, 204, 0.13);
    margin-top: 7rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: white;
}

.contenido-titulo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: lighter;
}

.contenido-descripcion {
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 150;
}

.boton {
    display: flex;
    justify-content: center;
    --animate-duration: 2s;
}

.boton-boton {
    background: #06473f;
    padding: 1rem;
    border: none;
}

.boton-boton:hover {
    background: #0c8375;
}

.boton-bottom {
    margin-top: 5rem;
}

.contenido-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#contenido2-img-1 {
    width: 15%;
    height: 20%;
}

#contenido2-img-2 {
    width: 20%;
}

.contenido-3 {
    background: whitesmoke;
    padding-top: 4rem;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: lighter;
    padding-bottom: 2rem;
}

.contenido-3-despedida {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.contenido-3-contacto {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.contenido-3-contacto .card {
    background: whitesmoke;
    border: none;
}

.contenido-4 {
    background: rgb(22, 43, 38);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contenido-4-imagenes {
    display: flex;
    justify-content: center;
}

.contacto-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-mail {
    display: flex;
    align-items: baseline;
    text-align: center;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.bolivia-innova {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.carrera {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.red-igem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iifb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

@media (min-width: 200px) {
    .contenido-1 {
        margin-top: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 444px) {
    .contenido-1 {
        margin-top: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (min-width: 576px) {
    .contenido-1 {
        margin-top: 6rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}